@import '../../../../../styles/abstracts/variables';
:host {
  overflow: auto;
}

.container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: 'description image';
  padding-left: 50px;
}

.description {
  grid-area: description;
  justify-self: left;
  padding-left: 25px;
  width: 100%;

  .info-container {
    .title {
      color: $blue;
      border-bottom: 1px solid darken($blue, 60%);
      text-transform: uppercase;
      font-size: 0.8rem;
      margin: 20px 0 5px 0;
    }
    .value {
      color: lighten($blue, 20%);
      font-size: 1.3rem;
    }
  }
}

.image {
  grid-area: image;
  img {
    max-width: 100%;
    max-height: 500px;
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 25px;
  font-size: 1rem;
  color: lighten($blue, 20%);
  text-decoration: none;
  background-color: lighten($black, 10%);
  border-radius: 25px;
  transition: all ease-in-out 0.1s;
  &:hover {
    background-color: lighten($black, 20%);
  }
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
i {
  border: solid lighten($blue, 20%);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
