@import '../../../../../styles/abstracts/variables';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 961px) {
    grid-template-columns: 60%;
  }
}

.content {
  background-color: $white;
  height: auto;
  position: relative;
}
