@import '../../../../../styles/abstracts/variables';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 961px) {
    grid-template-columns: 60%;
  }
}

.content {
  background-color: $black;
  color: $white;
  height: 100%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.master {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
}
