@import '../../../../../styles/abstracts/variables';
:host {
  overflow: auto;
}

.container {
  height: 100%;
}

.content {
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  gap: 20px;
  background-color: $black;
}

.planet-item {
  height: 100%;
  display: grid;
  grid-template-areas:
    'image title'
    'image description';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
  // background-color: darken($blue, 60%);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 17%,
    rgba(0, 4, 43, 1) 100%
  );
  color: $blue;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in-out 0.1s;
  &:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(22, 22, 115, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}

.image {
  grid-area: image;
  justify-self: center;
  img {
    max-width: 100%;
    max-height: 150px;
  }
}

.planet-title {
  grid-area: title;
  align-self: end;
  color: $white;
  font-size: 2rem;
  border-bottom: 1px solid darken($blue, 40%);
  margin-right: 50px;
}

.description {
  padding: 0 10px 10px 0;
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  .info-container {
    .title {
      color: $blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      margin: 20px 0 5px 0;
    }
    .value {
      color: lighten($blue, 20%);
      font-size: 1.3rem;
    }
  }
}

.content-loading {
  height: 100%;
}
