@import '../../../../../styles/abstracts/variables';
:host {
  overflow: auto;
}

.container {
  background-color: $black;
  color: $white;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 10px 25px;
}

.planet-item {
  width: 100%;
  margin: 5px;
  height: 100px;
  background-color: darken($blue, 60%);
  color: $blue;
  cursor: pointer;
}
