@import '../../../../../styles/abstracts/variables';
:host {
  overflow: auto;
}

.container {
  height: 100%;
}

.content {
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  gap: 20px;
  background-color: $black;
}

.planet-item {
  height: 100%;
  display: grid;
  grid-template-areas:
    'image title'
    'image description';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
  background-color: darken($blue, 60%);
  color: $blue;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  &:hover {
    background-color: darken($blue, 55%);
  }
}

.image {
  grid-area: image;
  justify-self: center;
  img {
    max-width: 100%;
    max-height: 150px;
  }
}

.title {
  grid-area: title;
  align-self: end;
  color: $white;
  font-size: 2rem;
  border-bottom: 1px solid darken($blue, 40%);
  margin-right: 50px;
}

.description {
  padding: 0 10px 10px 0;
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  .info-container {
    .title {
      color: $blue;
      border-bottom: 1px solid darken($blue, 60%);
      text-transform: uppercase;
      font-size: 0.8rem;
      margin: 20px 0 5px 0;
    }
    .value {
      color: lighten($blue, 20%);
      font-size: 1.3rem;
    }
  }
}

.content-loading {
  height: 100%;
}
